<!-- Contenedor del Modal -->
<div class="modal-container px-3 py-3">
  <form
    [formGroup]="myFormNewTarifario"
    (ngSubmit)="onSubmit()"
    class="modal-content-form"
  >
    <!-- Título -->
    <h2 class="modal-title mb-4 text-primary fw-bold text-center">
      Agregar Tarifa
    </h2>

    <!-- Nombre Tarifa -->
    <mat-form-field appearance="fill" class="w-100 mb-3">
      <mat-label>Nombre Tarifa <span class="text-danger">*</span></mat-label>
      <input
        matInput
        id="nombreTarifa"
        type="text"
        formControlName="nombre"
        placeholder="Ingrese nombre de la tarifa"
        autocomplete="off"
      />
      <mat-error *ngIf="myFormNewTarifario.get('nombre')?.hasError('required')">
        Campo requerido
      </mat-error>
      <mat-error *ngIf="myFormNewTarifario.get('nombre')?.hasError('maxlength')">
        El nombre no puede tener más de 60 caracteres.
      </mat-error>
    </mat-form-field>

    <!-- Botones -->
    <div class="d-flex justify-content-end gap-2 mt-4">
      <button mat-raised-button color="primary" type="submit">
        Agregar
      </button>
      <button
        mat-stroked-button
        type="button"
        mat-dialog-close
        color="primary"
      >
        Cancelar
      </button>
    </div>
  </form>
</div>
