<form class="py-4 px-2" [formGroup]="myFormNewEquipoTrabajo" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="mat-typography custom-scroll">

    <div class="fw-bold text-primary fs-5 mb-4">
      {{ codEquipo === 0 ? 'Agregar Equipo Trabajo' : 'Editar Equipo Trabajo' }}
    </div>

    <div class="mb-3">
      <label class="form-label fw-semibold text-dark">Nombre Equipo Trabajo</label>
      <input
        type="text"
        class="form-control text-secondary"
        formControlName="nombre" />

      <div *ngIf="myFormNewEquipoTrabajo.controls['nombre'].getError('required') && myFormNewEquipoTrabajo.controls['nombre'].touched"
           class="text-primary small fst-italic mt-1">
        Campo requerido
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label fw-semibold text-dark">Descripción Equipo Trabajo</label>
      <input
        type="text"
        class="form-control text-secondary"
        formControlName="descripcion" />

      <div *ngIf="myFormNewEquipoTrabajo.controls['descripcion'].getError('required') && myFormNewEquipoTrabajo.controls['descripcion'].touched"
           class="text-primary small fst-italic mt-1">
        Campo requerido
      </div>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button type="submit" mat-flat-button color="primary">
      {{ codEquipo === 0 ? 'Agregar' : 'Actualizar' }}
    </button>
    <button type="button" mat-stroked-button mat-dialog-close>Cancelar</button>
  </mat-dialog-actions>
</form>
